.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 3%;
}
header{
  height:100px;
  background-color:white;
  width:100%;
  text-align: center
}
header p{
  font-size: 60px;
  color:rgb(237, 212, 11);
  width:70%;
  margin: 40px auto 40px;

}
li{
  float:left
}
.main{
  position: relative;
}
.main h1{
  position: absolute;
  color:rgba(255, 255, 255,0.9);
  font-weight: bold;
  font-size: 64px;
  font-family :Quicksand, sans-serif;
  top: 45%;
  left: 70%;
  text-align: center;
}
.main span{
  color:rgba(237,212,11,0.9);
}
.main img{
   width: 100%;
   border-radius: 10px;
   margin-bottom: 40px;
}

nav ul{
  list-style-type: none;
  padding-left: 0;
}
.menu{
  float:left;
  text-align:center;
  font-size: 18px;
  margin-bottom: 40px;
  width:100%;

}
.menu li{
  text-decoration: none;
  padding: 15px 30px;
  text-align:center;
  width:100%;
}
.menu li a{
  color: #666;
  transition: 0.3s;
}

.contents h2{
  clear: both;
  margin-bottom: 20px;
  color:rgb(0, 0, 0);
  padding: 10px 20px;
  background: rgb(237, 212, 11);
  border-radius: 10px;
}
footer{
  clear: both;
  text-align: center;
  padding: 30px 0px 10px;
}
